:root {
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #ffff00;
  --color-blue: #6a83fb;
  --color-violet: #ae72c2;
  --color-dark-grey: #10100e;

  --spacing-m: 20px;
  --spacing-l: 30px;

  --radius-s: 3px;

  --font-size-header: 26px;
  --font-size-main: 16px;

  --theme-default-header: #cccc46;
  --theme-default-bg: url("@static/bg.jpg");

  --transition: 0.4s;

  --font-bold: 600;

  --text-shadow-yellow:
    0 0 2px var(--color-white),
    0 0 40px var(--color-blue);

  --width-max: 1200px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: var(--font-size-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-dark-grey);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--theme-default-bg);
}

img {
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header__text {
  font-size: var(--font-size-header);
  line-height: 1.7;
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-header);
  transition: color var(--transition) ease-in;
}
